@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 768px) {
  .canvas {
    width: 75%;
    height: 85%;
  }
  h1 {
    font-size: 5.5vw;
  }
  h3 {
    font-size: 3.2vw;
  }
  p {
    font-size: 3.0vw;
  }
}
@media screen and (min-width: 768px) {
  .canvas {
    width: 40%;
    height: 90%;
  }
  h1 {
    font-size: 3vw;
  }
  h3 {
    font-size: 1.8vw;
  }
  p {
    font-size: 1.6vw;
  }
}

* {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%23000000" stroke="%23FFFFFF" stroke-width="1" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>') 0 0, auto;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
main {
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin: 1vw 2vw;
  height: 100%;
}

img {
  border-radius: 50%;
  width: 15vh;
  margin-bottom: 4vh;
}
h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1vh;
}
h3 {
  color: hsl(75, 94%, 57%);
  margin-bottom: 3vh;
}
p {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1vh;
}

.canvas {
  background-color: hsl(0, 0%, 12%);
  border-radius: 1vw;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vw 0;
}

button {
  width: 90%;
  height: 6vh;
  border: none;
  margin: 1vh 0;
  border-radius: 1vh;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  font-weight: bold;
}
button:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23000000" stroke="%23FFFFFF" stroke-width="1" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>') 0 0, auto;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}